# Archivos y carpetas comunes a ignorar en proyectos .NET/MAUI
.vs/
bin/
obj/
*.user
*.suo
*.userprefs
*.dbmdl
*.log
*.tlog
*.tmp
*.cache
*.vscode/
*.vspscc
*.vssscc

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